* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #575757;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #16141B;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
